@using DoffingDesign.Service.Models
@using DoffingDotCom.Web.Secrets
@model DoffingDotCom.Web.Models.Project.ProjectViewModel

@{
    var basePath = EnvironmentSettings.ProjectImagePath;
    var backPath = string.Format("< Back to {0}", Model.ProjectTypeName);
    var project = Model.Project;
}


<div class="project-view">
    <div class="side-text">
        <h1 class="project-title">@project.Title</h1>

        <div class="project-description">
            <div class="project-description">
                @Html.Raw(@project.ProjectHtml)
            </div>

            <div class="back-link">
                @Html.ActionLink(backPath, "IndexByType", new { projectType = @Model.ProjectTypePath })
            </div>
        </div>

    </div>
    <div class="main-image">
        @foreach (var item in project.ProjectItems
                .Where(p => p.IsThumb == false)
                .OrderBy(p => p.ImageName))
        {
            @DoffingImage(basePath, item)
        }

    </div>
</div>

@helper DoffingImage(string basePath, ProjectItem model)
{
    
    <img src="@Path.Combine(basePath, model.ImageUrl)" alt="model.AltText" data-hover="model.ImageCaption" />
}