@using DoffingDotCom.Web.Services
@model DoffingDesign.Service.Models.Project

@{
    var basePath = ConfigProvider.ImagePath;
}


<div class="project-view container">
    <div class="row">
        <div class="main-image col-xs-8">
            @foreach (var item in @Model.ProjectItems
                 .Where(p => p.IsThumb == false)
                .OrderBy(p => p.ImageName))
            {
                <img src="@(basePath + item.ImageUrl)" alt="@item.AltText" data-hover="@item.ImageCaption" />
            }

        </div>
        <div class="col-xs-1"></div>
        <div class="side-text col-xs-4">
            <div class="project-description">
                <div class="project-description">
                    @Html.Raw(@Model.ProjectHtml)
                </div>
            </div>

@*            <div class="purchase-detail">*@
@*                <p>Want to buy this print? (@Html.DisplayFor(m => m.Society6Id))</p>*@
@*                <p>*@
@*                    Check it out on <a href="@Model.Society6Link">Society6</a>*@
@*                </p>*@
@*            </div>*@

        </div>


    </div>
</div>
