@using DoffingDotCom.Web.Services
@model DoffingDotCom.Web.Models.Project.ProjectListViewModel

@{
    ViewBag.Title = @Model.ProjectType + " Projects";
    var basePath = ConfigProvider.ImagePath;
}

<h3>@Model.ProjectType Projects</h3>

@foreach (var proj in @Model.Projects.OrderBy(p => p.SortOrder))
{
    <div class="col-md-3 tile">
        <a href="~/Project/@Model.ProjectType/@proj.ProjectId">
            <div>
                <div>
                    <img src="@(basePath + proj.ThumbProject.ImageUrl)" alt="@proj.Title" />
                </div>
                <h4>@proj.Title</h4>
            </div>
        </a>
    </div>


}

