@using DoffingDotCom.Web.Services
@model DoffingDotCom.Web.Models.Project.ProjectListViewModel

@{
    ViewBag.Title = @Model.ProjectType + " Projects";
    var basePath = ConfigProvider.ImagePath;
}

<h3 class="body-header">@Model.ProjectType</h3>

@foreach (var proj in @Model.Projects.OrderBy(p => p.SortOrder))
{
    <div class="col-sm-4 tile">
        <a href="~/Project/@Model.ProjectType/@proj.ProjectId">
            <div class="image">
                <img src="@(basePath + proj.ThumbProject.ImageUrl)" alt="@proj.Title" />
                <div class="project-title">
                    <span>@proj.Title</span>
                </div>
            </div>
        </a>
    </div>


}

