@using DoffingDotCom.Web.Secrets
@using DoffingDotCom.Web.Services
@model DoffingDotCom.Web.Models.Project.ProjectListViewModel

@{
    ViewBag.Title = @Model.ProjectType + " Projects";
    var basePath = EnvironmentSettings.ProjectImagePath;
}

<h3 class="body-header">@Model.ProjectType</h3>

@foreach (var proj in @Model.Projects.OrderBy(p => p.SortOrder))
{
    <div class="col-sm-4 tile">
        <a href="~/Project/@Model.ProjectPath/@proj.ProjectId">
            <div class="image">
                @DoffingTileImage(basePath, proj)
                <div class="project-title">
                    <span>@proj.Title</span>
                </div>
            </div>
        </a>
    </div>
}

@helper DoffingTileImage(string basePath, DoffingDesign.Service.Models.Project model)
{

    <img src="@Path.Combine(basePath, model.ThumbProject.ImageUrl)" alt="model.Title" />
}

